.fondo{
    position: absolute; 
    left: 0px;
    width: 100vw; 
    height:100vh;
    background-image: url('../../../assets/images/fondoLogin.avif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    overflow: auto;
    overflow-x: hidden;
}