<div class="body fondo">
    <app-nav-bar></app-nav-bar>
    <div class="body_card ">
        <div class="mb-5">
            <div class="row justify-content-center">
                <div class="card mt-5 mb-3" style="width: 35rem;">
                    <div class="contenedorImagen mt-3 ms-2 me-2">
                        <h2 class="card-title text-center mt-2">Profile</h2>
                        <img src="../../../assets/images/owner.png" class="card-img-top imagenPerfil mt-3 mb-3">
                        
                    </div>
                    <div class="card-body">
                        <div class="card-text">
                            <div class="input_container mb-3">
                                <input disabled [(ngModel)]="this.user.username" name="username" type="text" class="field mt-3 ms-3 me-3" placeholder="Username">
                            </div>
                            <div class="input_container mb-3">
                                <input disabled [(ngModel)]="this.user.phone" name="phone"  type="text" class="field mt-3 ms-3 me-3" placeholder="Phone">
                            </div>
                            <div class="input_container mb-3">
                                <input disabled  [(ngModel)]="this.user.salary"name="salary"  type="text" class="field mt-3 ms-3 me-3" placeholder="Salary">
                            </div>
                            <div class="input_container mb-3">
                                <input disabled  [(ngModel)]="this.user.role"name="role"  type="text" class="field mt-3 ms-3 me-3" placeholder="Role">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
