<div class="fondo">
    <app-nav-bar></app-nav-bar>
  
  
    <div class="d-flex justify-content-between mt-3">
      <div class="ms-5 mt-1">
        
      </div>
  

      <div class="horizontal">
          <p style="font-size: 50px;">VENTAS</p>
  
          
      </div>
      <div>

    </div>
    
  
    </div>
  
    <div class="table">
        <h1></h1>
        <table class="table table mt-3">
          <thead style="background-color: #FFD60A;">
            <tr>
              <th scope="col">FECHA DE VENTA</th>
              <th scope="col">PRODUCTO</th>
              <th scope="col">CANTIDAD</th>
              <th scope="col">TOTAL</th>
  
            </tr>
          </thead>
          <tbody >
            <tr class="texto">
              <td>{{1}}</td>
              <td>{{1}}</td>
              <td>{{1}}</td>
              <td>Q. {{1}}</td>
            </tr>
          </tbody>
        </table>
      </div>

  

  
  
  
  
  
