    <div class="body fondo">
        <app-nav-bar></app-nav-bar>

        <div class="contenedor">
          <button id="boton" class="buttonHome me-3 mt-1 mb-3" data-bs-toggle="modal" data-bs-target="#modalAgregarProducto" 
              type="button">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              Agregar 
              </button>
        </div>
   
        <div class="body_card ">
            <div class="mb-5">
                <div class="row justify-content-center">
                    <div class="card mt-5 mb-3" style="width: 35rem;">
                        <div class="contenedorImagen mt-3 ms-2 me-2">
                            <h2 class="card-title text-center mt-2">Profile</h2>
                            <img src="../../../assets/images/owner.png" class="card-img-top imagenPerfil mt-3 mb-3">
                            
                        </div>
                        <div class="card-body">
                            <div class="card-text">
                                <div class="input_container mb-3">
                                    <input [(ngModel)]="this.user.username" name="username" type="text" class="field mt-3 ms-3 me-3" placeholder="Username">
                                </div>
                                <div class="input_container mb-3">
                                    <input [(ngModel)]="this.user.phone" name="phone"  type="text" class="field mt-3 ms-3 me-3" placeholder="Phone">
                                </div>
                                <div class="input_container mb-3">
                                    <input [(ngModel)]="this.user.role" disabled name="role"  type="text" class="field mt-3 ms-3 me-3" placeholder="Role">
                                </div>

                                <div  class="input_container mb-3">
                                    <div  class="dropdown"  >
                                        <button class="btn btn-secondary dropdown-toggle" class="field mt-3 ms-3 me-3" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                          Ver Proveedores
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                          <li *ngFor="let supplier of this.user.suppliers">
                                            <a class="dropdown-item" disabled>{{this.supplier}}</a>
                                         </li>
                                          
                                        </ul>
                                      </div >
                                </div>
                                
                                <button (click)="editProfile()" class="buttonModalNewUser">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                    </svg>    Update
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
