<div class="body fondo">
    
    <app-nav-bar></app-nav-bar>
    <div class="d-flex justify-content-between mt-3">
        <div></div>
        <div></div>
        <div>
            <button class="buttonHome me-3 mt-1 mb-3" data-bs-toggle="modal" data-bs-target="#exampleModalAddCompany" 
                type="button">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Agregar 
                </button>
            <button class="buttonHome me-3 mt-1 mb-3" data-bs-toggle="modal" data-bs-target="Colocar la vista" 
                type="button">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Estadisticas 
                </button>
        </div>
    </div>

    <div class="empresas row">
        <div class="card me-3 mt-3 ms-3" style="width: 18rem;">
            <img class="card-img-top" src="../../../assets/images/sedesIcon.jpg" alt="Imagen Empresa">
            <div class="card-body">
                <h5 class="card-title"><strong>Sede</strong></h5>
                <!-- Modal 1 -->
                <button type="button" class="btn btn-link" data-bs-toggle="modal"
                    data-bs-target="#exampleModalDeleteCompany"><img src="../../../assets/images/eliminar.png" alt="#"
                        class="img-icon"></button>

                <!-- Modal 2 -->
                <button  type="button" class="btn btn-link" data-bs-toggle="modal"
                    data-bs-target="#exampleModalUpdateCompany"><img src="../../../assets/images/editar.png" alt="#"
                        class="img-icon"></button>
                <!-- Modal 3 -->
                <button type="button" class="btn btn-link" data-bs-toggle="modal"
                    data-bs-target="Colocar La vista"><img src="../../../assets/images/ojoIcon.png" alt="#"
                        class="img-icon"></button>

            </div>
        </div>
    </div>

    <section class="functions">


        <!-- Modal eliminar -->
        <div class="modal fade" id="exampleModalDeleteCompany" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="container">
                    <div class="modal-content">
                        <div class="contact-box">
                            <div class="left"></div>
                            <div class="right">
                                <div class="position-relative">
                                    <button type="button"
                                        class="btn-close position-absolute top-0 start-100 translate-middle"
                                        data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <h4>¿Está seguro de eliminar esta sede?</h4>
                                <button class="buttonModalNewUser mb-3" data-bs-dismiss="modal">Si</button>
                                <button style="background: #F8333C;" class="buttonModalNewUser"
                                    data-bs-dismiss="modal">No</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- MODAL PARA EDITAR UNA SEDE -->
        <div class="modal fade" id="exampleModalUpdateCompany" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="container">
                    <div class="modal-content">
                        <div class="contact-box">
                            <div class="left"></div>
                            <div class="right">
                                <div class="position-relative">
                                    <button type="button"
                                        class="btn-close position-absolute top-0 start-100 translate-middle"
                                        data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <h2>Actualizar</h2>
                                <span class="spanInfo">Nombre</span>
                                <input name="name" type="text" class="field" placeholder="Nombre">
                                <button class="buttonModalNewUser" data-bs-dismiss="modal">Actualizar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- MODAL PARA AGREGAR UNA SEDE -->

        <div class="modal fade" id="exampleModalAddCompany" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="container">
                    <div class="modal-content">
                        <div class="contact-box">
                            <div class="left"></div>
                            <div class="right">
                                <div class="position-relative">
                                    <button type="button" class="btn-close position-absolute top-0 start-100 translate-middle" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <h2>Agregar Sede</h2>
                                <form #addCompanyForm>
                                    <span class="spanInfo">Nombre</span>
                                    <input name="name" type="text" class="field" placeholder="Nombre">
                                    <button class="btnAddCompany" data-bs-dismiss="modal">Guardar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <br>



</div>